.active td {
	color: black;
	background-color: #1bafae;
}

.passive td:first-child {
	color: white;
	background-color: #128786;
}

.passive td:last-child {
	color: white;
	background-color: #1bafae;
}
